body {
    background-color: #F1F5F8;
}

.App {
    margin: 100px auto;
    width: 620px;
}

.App #top {
    color: #102A42;
    font-size: 50px;
    text-align: center;
}

.App #line {
    width: 100px;
    border-bottom: 3px solid #49A6E9;
    margin: 0 auto;
}

#no-tours-container {
    text-align: center;
}

#no-tours-left {
    font-size: 50px;
}

#refresher {
    color: white;
    background: #49A6E9;
    border: none;
    border-radius: 5px;
    width: 95px;
    height: 35px;
}

button:hover {
    cursor: pointer;
}